{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container aln-center">
    <div class="row aln-center">
    <header>
        <h2><strong>Информация</strong> о строительных компаний.</h2>
    </header>
</div>
</div>
<hr>
<div class="container" id='capstroy'>
    <header>
        <h3><strong>Информация о cтрой компания </strong>"Капстрой"</h3>
    </header>
    <div class="row aln-center">

            <br><h5>{{ CAPSTROY_INFO.about_company.title }}</h5>
            <p>{{ CAPSTROY_INFO.about_company.text }}</p>
            <ul class="actions">
                <li><a href="{{ CAPSTROY_INFO.contacts.link }}" class="button icon fa-file">Переход на сайт...</a></li>
            </ul>
    </div>
</div>
<hr>
<div class="container" id='imarat'>
    <header>
        <h3><strong>Информация о cтрой компания </strong>"Имарат"</h3>
    </header>
    <div class="row aln-center">

            <br><h5>{{ BUILDING_INFO.about_company.title }}</h5>
            <p>{{ BUILDING_INFO.about_company.text }}</p>
            <ul class="actions">
                <li><a href="{{ BUILDING_INFO.contacts.link }}" class="button icon fa-file">Переход на сайт...</a></li>
            </ul>
    </div>
</div>
{% endblock %}