{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container aln-center">
    <div class="row aln-center">
    <header>
        <h2><strong>Контакты</strong> строительных компаний.</h2>
    </header>
</div>
</div>
<hr>
<div class="container" id='capstroy'>
    <header>
        <h3><strong>Контакты cтрой компания </strong>"Капстрой"</h3>
    </header>
    <div class="row aln-center">
        <div class="col-4 col-6-medium col-12-small">
            <strong>Адрес:</strong>
            <br>{{ CAPSTROY_INFO.contacts.address }}
            <br><strong>Номер телефона:</strong>
            {% for number in CAPSTROY_INFO.contacts.number %}
            <br><a href='{{number}}'>{{number}}</a>
            {% endfor %}
            <br><strong>График работы:</strong>
            {% for schedule in CAPSTROY_INFO.contacts.schedule %}
            <br><a>{{schedule}}</a>
            {% endfor %}
            <ul class="actions">
                <li><a href="{{ CAPSTROY_INFO.contacts.link }}" class="button icon fa-file">Переход на сайт...</a></li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="container" id='imarat'>
    <header>
        <h3><strong>Контакты cтрой компания </strong>"Имарат "</h3>
    </header>
    <div class="row aln-center">
        <div class="col-4 col-6-medium col-12-small">
            <strong>Адрес:</strong>
            <br>{{ BUILDING_INFO.contact.address }}
            <br><strong>Номер телефона:</strong>
            
            <br><a href='{{ BUILDING_INFO.contact.numbers }}'>{{ BUILDING_INFO.contact.numbers }}</a>
            
            <ul class="actions">
                <li><a href="{{ BUILDING_INFO.contact.link }}" class="button icon fa-file">Переход на сайт...</a></li>
            </ul>
        </div>
    </div>
</div>
</section>
<hr>
<div class="container" id='kggroup'>
    <header>
        <h3><strong>Контакты cтрой компания </strong>"KG Group"</h3>
    </header>
    <div class="row aln-center">
        <div class="col-4 col-6-medium col-12-small">
            <strong>Адрес:</strong>
            <br>{{ KGGROUP_INFO.contact.address }}
            <br><strong>Номер телефона:</strong>
            {% for number in KGGROUP_INFO.contact.numbers %}
            <br><a href='{{ number }}'>{{ number }}</a>
            {% endfor %}
            <ul class="actions">
                <li><a href="{{ KGGROUP_INFO.contact.link }}" class="button icon fa-file">Переход на сайт...</a></li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="container" id='ihlas'>
    <header>
        <h3><strong>Контакты cтрой компания </strong>"Ихлас"</h3>
    </header>
    <div class="row aln-center">
        <div class="col-4 col-6-medium col-12-small">
            <strong>Адрес:</strong>
            <br>{{ IHLAS_INFO.contact.address }}
            <br><strong>Номер телефона:</strong>
            {% for number in IHLAS_INFO.contact.number %}
            <br><a href='{{ number }}'>{{ number }}</a>
            {% endfor %}
            <ul class="actions">
                <li><a href="{{ IHLAS_INFO.contact.link }}" class="button icon fa-file">Переход на сайт...</a></li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="container" id='royal'>
    <header>
        <h3><strong>Контакты cтрой компания </strong>"Royal"</h3>
    </header>
    <div class="row aln-center">
        <div class="col-4 col-6-medium col-12-small">
            <strong>Адрес:</strong>
            <br>{{ ROYAL_INFO.contact.address }}
            <br><strong>Номер телефона:</strong>
            {% for number in ROYAL_INFO.contact.number %}
            <br><a href='{{ number }}'>{{ number }}</a>
            {% endfor %}
            <ul class="actions">
                <li><a href="{{ ROYAL_INFO.contact.link }}" class="button icon fa-file">Переход на сайт...</a></li>
            </ul>
        </div>
    </div>
</div>
</section>
{% endblock %}